<div class="create-account" *ngIf="!loader">
  <div class="create-account__form-header">Create account</div>
  <form class="form" [formGroup]="tempForm" (submit)="onSubmit()">
    <div class="create-account__user-name">
      <label for="username"> Username: </label>
      <input
        type="text"
        formControlName="username"
        id="username"
        placeholder="Enter Username"
      />
    </div>

    <div class="create-account__password">
      <label for="password">Password: </label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="Set a strong Password"
      />
    </div>

    <div class="captcha">
      <ng-hcaptcha formControlName="captcha"></ng-hcaptcha>
    </div>
    <div class="error">
      {{ errorMessage }}
    </div>
     
    <button class="submit" type="submit" [disabled]="!isFormValid">
      Submit
    </button>
    <span >
      <a
        href="#"
        aria-valuetext="Sign in"
        [routerLink]="['/sign-in']"
        routerLinkActive="active"
        >Sign-in</a
      >
    </span>
  </form>
</div>
<div *ngIf="loader" class="loader-image">
  <img
    src="https://lh3.googleusercontent.com/proxy/CqdU6w6K7oAK1K8WI-Ko7CVzNo7ZKeuxMelpv8tSvGs0-5drAVGzEd1gjyeNL_ClxJT_Q8jnFvkP3Ypwzb8Ol1s_8a3EwbhDHve4Hi3o04gW"
  />
  <div>Account added successfully !</div>
</div>
