*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}
